.profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.profile-modal-content {
    background: var(--modal-background);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--modal-text);
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    color: var(--modal-text);
}

.close-button:hover {
    color: var(--secondary-color);
}

h2 {
    color: var(--modal-text);
}

p {
    color: var(--modal-text);
}

button {
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button:hover {
    background: var(--hover-color);
}